<div class="container">
  <header>
    <h1>Dog App</h1>
  </header>
  
  <div class="flex img-container">
    <img src="{{randomDogUrlImg.message}}" alt="Random Dog">
  </div>
  
  <footer class="footer flex">
    <li *ngFor="let randomDog of randomDogs.message">
      <a href="{{randomDog}}" target="_blank">
        {{randomDog
          .slice(-randomDog.length, randomDog.lastIndexOf('/'))
          .replace('https://images.dog.ceo/breeds/', '')
        }}
      </a>
    </li>
  </footer>
</div>